.libraryButtonGroup {
    float:left;
}

.libraryButton{
    color: black;
}
.libraryButtonSelected{
color: #FF7F22;
}

.btn-link{
    color: inherit;
}
.btn-link:hover{
    color: #FF7F22;
}
.wrapper {
    margin-right: -20px;
}
.child {
    box-sizing: border-box;
    width: 25%;
    padding-right: 20px;
    float: left;
}